.header{
    grid-area: h;
    background-color: rgb(6, 6, 6);
  
  }
  
  .header img {
  width: 60px;
  }
  
  .loginBlock{
    float: right;
  }

  .loginBlock a {
    color: white;
    
  }
  .UserName{
    color: white
  }